.div {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1000px; 
  height: 400px;
  border: 1px solid #000000;
  align-self: center;
  background-color: rgb(2, 17, 2);

}



  

 
  